body{
	font-family: Arial, sans-serif;
	font-size: 15px;
	background-color: lightgray;
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
	flex-direction: column;
	font-weight: bold;
}

input{
	height: 20px;
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	max-width: 400px;
}
div{
	width: 100%;
	margin: 0 0 0 0;
	max-width: 400px;
}
form{
	border-style:groove; 
	border-color: lightblue;
	border-radius: 12px;
	text-align: center;
	padding: 20px;
	max-width: 450px;
	width: 100%;
	box-shadow: 10px 10px 5px #aaaaaa;

}

h2{
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 24px;
}

#submit-button{
	display: inline-block;
	border-radius:5px;
  line-height: 2px;
  padding: 10px;
	width: 20%;
}

#submit-button:hover{
	background-color: lightskyblue;
	color: white;

}

@media only screen  (min-width: 480px) {
  #form {
  	display: block;
    width: 90%;
    
  }
  
}
